html, body {
    height: 100%; /* Ensure the full height is used */
    width: 100%; /* Ensure the full width is used */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

body, input, select {
    font-family: Verdana, sans-serif;
    background-color: #DCEDFF;
    line-height: 1.5;
    color: #1c2541;
}

.center-texts {
    text-align: center;
    display: block;
}

form {
    line-height: 2;
}

h1 {
    color: #1c2541;
}

table input:hover {
    background-color: #ebf3fa;
    cursor: pointer;
}

tr {
    border-bottom: 1px solid rgba(28, 37, 65, 0.14);
}

th {
    pointer-events: none;
}

td, th {
    text-align: center;
    padding: 5px;
}

a:visited, a:link {
    color: #4961ac;
    background-color: transparent;
}

a:hover {
    color: #0a2559;
}

form input {
    border: 2px solid black;
}

.row {
    display: flex;
    column-gap: 3%;
}

.column {
    flex: 50%;
}

.details {
    text-align: left;
}
