body, input, select {
    font-family: Verdana, sans-serif;
    background-color: #DCEDFF;
    line-height: 1.5;
    color: #1c2541;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-texts {
    text-align: center;
    display: block; /* Change to display block to make texts listed down */
}

form {
    line-height: 2;
}

body {
    margin: 2%;
}

h1 {
    color: #1c2541;
}

table {
    border-collapse: collapse;
}

table tr:hover {
    background-color: #ebf3fa;
    cursor: pointer; /* Change cursor to pointer on hover */
}

tr {
    border-bottom: 1px solid rgba(28, 37, 65, 0.14);
}

th {
    /* Disable pointer events on header*/
    pointer-events: none;
}

td, th {
    text-align: center;
    padding: 10px;
}

a:visited, a:link {
    color: #4961ac;
    background-color: transparent;
}

a:hover {
    background-color: #ebf3fa;
    /*padding: 2px 2px;*/
}
