html, body {
    height: 100%; /* Ensure the full height is used */
    width: 100%; /* Ensure the full width is used */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
}

body, input, select {
    font-family: Verdana, sans-serif;
    background-color: white;
    line-height: 1.5;
    color: #1c2541;
}


input[type="submit"]{
    background: #1c2541;
    color: #DCEDFF;
}


.center-texts {
    text-align: center;
    display: block;
}

form {
    line-height: 2;
}

h1, h2, h3 {
    color: #297ab6;
}

table input:hover {
    background-color: #ebf3fa;
    cursor: pointer;
}

tr {
    border-bottom: 1px solid rgba(28, 37, 65, 0.14);
}

.listing-tr:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th {
    pointer-events: none;
}

td, th {
    text-align: center;
    padding: 8px;
}

a:visited, a:link {
    color: #4961ac;
    background-color: transparent;
}

a:hover {
    color: #0a2559;
}

form input, form select{
    border: 2px solid #1c254161;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1em 0 ;
}

.row {
    display: flex;
    column-gap: 3%;
    width: 92vw;
    max-width: 720px;
}

.column {
    flex: 50%;
}

.details {
    text-align: left;
}

.back-button{
    padding-top:40px;
}

